@charset "UTF-8";
/*Colores*/
/*Fuente principal*/
/*Tamaño de letra*/
/*Iconos*/
/*Pantallas*/
/*Separaciones (margin y padding)*/
/*Mixings*/
body {
  font-size: font-family "Barlow Semi Condensed", sans-serif;
  background-color: #fa9222;
  color: #F1F2F6;
}

header {
  background-color: #F8BC7B;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  background-color: #F8BC7B;
}

.navbar-nav {
  margin-top: 20px;
}

.nav-item {
  margin: 0 10px;
}

.nav-link,
.navbar-nav .nav-link.active {
  background-color: #F8BC7B;
}
.nav-link:hover,
.navbar-nav .nav-link.active:hover {
  color: #F1F2F6;
}

.logo-grano {
  /*@include flex-fila;*/
  height: 90px;
}

@media (min-width: 760px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navbar-toggler {
  background-color: #F8BC7B;
}

h1, h2, h3, h4 {
  text-align: center;
  margin-top: 20px;
}

.parrafo-general {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  margin: 0 20px;
  margin-top: 10px;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container, footer .a {
  color: #F1F2F6;
  background-color: #F8BC7B;
}
footer .icono-ig {
  height: 70px;
}
footer .p-footer {
  font-size: 15px;
}

.botones-contacto {
  margin-top: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (ajusta según tus necesidades) */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  max-width: 800px; /* Establece un ancho máximo para el contenedor del mapa */
  height: 0;
  overflow: hidden;
  margin-top: 40px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titulo-contacto {
  margin-top: 20px;
}

.titulo-contacto {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.titulo-contacto {
  opacity: 1; /* Se desvanece gradualmente a la opacidad completa al hacer hover */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#divTituloInicio {
  margin-top: 40px;
}

#myCarousel {
  margin-top: 40px;
}

.carousel-item {
  height: 480px;
}

@media (min-width: 760px) {
  .carrusel-item img {
    height: 70vh;
  }
}
.card {
  margin-top: 40px;
}

/*.btn{
    border: solid 2px $color-primario;
    color: $color-primario;
    &:hover{
        color: $color-secundario;
    }
}*/
.my-card-btn {
  background-color: rgba(243, 134, 32, 0.8901960784);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.my-card-btn:hover {
  background-color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  word-spacing: 5px;
}

#total, #vaciar-carrito, #finalizar-compra {
  margin-top: 10px;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #fa9222;
}

.boton:hover {
  background-color: #ccc;
}

.centrado {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
