table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: $espacio-chicoX;
  }
  
  td {
    word-spacing: 5px;
  }
  
  #total, #vaciar-carrito, #finalizar-compra {
    margin-top: $espacio-chicoX;
  }
  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid $color-secundario;
  }
  
  .boton:hover {
    background-color: #ccc;
  }
  .centrado{
    text-align: center;
  }
  