body{
    font-size: $fuente-principal;
    background-color: $color-secundario;
    color: $color-primario;
    
}
header {
    background-color: $color-terciario; 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $espacio-chicoX; 
    padding-bottom: $espacio-chicoX; 
  }
  

.menu{
    background-color: $color-terciario;
    
}
.navbar-nav {
    margin-top: $espacio-chico
  }
  
  .nav-item {
    margin: 0 10px; 
  }

.nav-link,
.navbar-nav .nav-link.active{
    background-color: $color-terciario;
&:hover{
    color: $color-primario;
}

}
.logo-grano {
   height: 90px; 
   text-align: center;  
}
  .logo-grano img {
    width: 20vw; 
    max-width: 200px;
    height: auto; 
  }
  
@media (min-width:$tablet){
    .menu {
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
  }
 

.navbar-toggler{
    background-color: $color-terciario;
}



h1, h2, h3, h4{
    text-align: center;
    margin-top: $espacio-chico;
}

h1 {
    opacity: 0;
    animation-name: fade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.parrafo-general{
    font-size: 20px;
    margin-top: $espacio-medio;
    text-align: center;
    justify-content: center; 
    margin: 0 20px; 
    margin-top: $espacio-chicoX;
      
}

footer{
    margin-top: $espacio-grande;
    @include flex-columna;

    .container, .a
        {
        color: $color-primario;
        background-color: $color-terciario;
       
    }
    .icono-ig{
        height: 70px;
    }
    .p-footer{
        font-size: $fuente-chica;
    }
    }

   