.carousel-item  {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  #divTituloInicio{
    margin-top: $espacio-grande;
    
  }
  #myCarousel{
    margin-top: $espacio-medio
  }
  .carousel-item{
    height: 480px;
}

@media (min-width:$tablet) {
    .carrusel-item {
       height:70vh;
    }  
}
